@import "tailwindcss";
@plugin "daisyui" {
  themes:
    pastel --default,
    forest --prefersdark;
  root: ":root";
  include:;
  exclude:;
  prefix:;
  logs: true;
}
* {
  box-sizing: border-box; /* Ensures padding/border are included in element's total width/height */
}
